*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

:root{
    --main-color: #E5E5E5;
    --second-color: #797979;
    --bg-color: #1A1A1A;
}

header{
    padding: 0 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
}

header ul{
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    list-style: none;
    border-bottom: 2px solid var(--second-color);
    transform: translateY(-50px);
    transition: .5s;
}

header ul:hover{
    transform: translateY(0);
}

header ul li{
    margin: 20px 0px;
}

header ul li a{
    color: var(--main-color);
    text-decoration: none;
    padding: 20px 20px;
    background: var(--bg-color);
    transition: .5s;
}

header ul li:hover a{
    background: linear-gradient(var(--main-color), var(--second-color));
    color: var(--bg-color);
}

#home{
    background-color: var(--bg-color);
    width: 100%;
    height: 100vh;
}

#home .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}